img#picture {
    width: 31%;
    margin-left: 0px;
    float: right;
    clear: right;
}

#notesText {
    position: relative;
    top: 0;
    left: 1em;
    width: 62%;
    margin-right: 0px;
    height: 60vh;
}
  

