img#picture {
    width: 65%;
    margin-right: 0px;
    float: left;
}


img#picture2 {
    width: 31%;
    float: right;
    margin-left: 0px;
}

#notesText {
    width: 31%;
    float: right;
    margin-left: 0px;
    height: 30vh;
}
  

